.stn-leaders {
    background-color: #e7eded;
    padding: 2em 1em;

    .ctr-leaders-infos {

        @extend %container-mxw;
        margin: 2em auto;

        .titre-intro {
            color: $bleu-clair;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.5em;
            padding-bottom: 1em;
            font-family: 'Cabin', sans-serif;
        }


        .ctr-list{

            display: flex;
            flex-direction: column;
            .img-list{
                position: relative;
                width: 70%;
                margin: 1em auto;
                overflow: hidden;


                .img-lead{
                    width: 100%;
                    height: 100%;
                }

                .ctr-details-info {
                    z-index: 2;
                    position: absolute;
                    background-color: #193646bd;
                    color: #fff;
                    text-align: center;
                    width: 100%;
                    transition: all .5s ease-in-out;
                    transition-delay: .1s;
                    bottom: -5em;
                    padding: .2em 0;

                    .name-lead {
                        text-transform: capitalize;
                    }

                    .post-lead {
                        text-transform: capitalize;
                    }
                }

                &:hover .ctr-details-info {
                    bottom: 4px;
                }
            }
        }
    }
}

@media screen and (min-width: $tablette-portrait) {
.stn-leaders {
    padding: 2em 1em;

    .ctr-leaders-infos {

        .titre-intro {
            color: $bleu-clair;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1.5em;
            padding-bottom: 1em;
            font-family: 'Cabin', sans-serif;
        }


        .ctr-list{

            display: flex;
            flex-direction: row;
            .img-list{
                margin: 1em 0;
                position: relative;
                width: $column-width / 2;
                overflow: hidden;

                &:not(:first-child) {
                    margin-left: 2em;
                }

                .img-lead{
                    width: 100%;
                    height: 100%;
                }

                .ctr-details-info {
                    z-index: 2;
                    position: absolute;
                    background-color: #193646bd;
                    color: #fff;
                    text-align: center;
                    transition: all .5s ease-in-out;
                    transition-delay: .1s;
                    bottom: -5em;
                    padding: .2em 0;

                    .name-lead {
                        text-transform: capitalize;
                    }

                    .post-lead {
                        text-transform: capitalize;
                    }
                }

                &:hover .ctr-details-info {
                    bottom: 0%;
                }
            }
        }
    }
}
}