
// Breakpoints
$tablette-portrait: 768px;
$laptop: 1024px;

// Palette du site
$main-color: #990000;
$bleu-clair: #85ccd9;
$bleu-fonce: #16445c;
$vermillon: #ff592f;
$gris-moyen: #999999;
$noir: #000000;
$blanc: #FFFFFF;

// Layout
$column-width: 33.333333333%;
